.chatSpace__chat
  .chat__firstLine
    %p.chat__userName
      = message.user.name
    %p.chat__sendDate
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.chat__message
    = message.body
  %p.chat__image
    = image_tag message.image.url if message.image?
