%a{href:'#'}
  .groupSelector__group
    %p.groupSelector__groupName test
    %p.groupSelector__latestChat f
%a{href:'#'}
  .groupSelector__group
    %p.groupSelector__groupName test2
    %p.groupSelector__latestChat まだメッセージがありません
