- current_user.groups.each do |group|
  = link_to group_messages_path(group) do
    .groupSelector__group
      %p.groupSelector__groupName
        = group.name
      %p.groupSelector__latestChat
        まだメッセージがありません
