!!! 5
%html{lang: 'ja'}
%meta(charset='UTF-8')
  %body
  .infoBar チャットグループが作成されました。
  .sideBar
    .sideBar__header
      .sideBar__userInfo
        %p.userInfo__userName hoge999
        %ul.userInfo__menu
          %li.userInfo__editUserInfo
            = link_to root_path, title: 'ユーザー情報を編集します。' do
              %i.fas.fa-user-edit
          %li.userInfo__createGroup
            = link_to root_path, title: 'チャットグループを新規作成します。' do
              %i.fas.fa-plus-square
    .sideBar__groupSelector
      .groupSelector__groups
        %a{href:'#'}
          .groupSelector__group
            %p.groupSelector__groupName test
            %p.groupSelector__latestChat f
        %a{href:'#'}
          .groupSelector__group
            %p.groupSelector__groupName test2
            %p.groupSelector__latestChat まだメッセージがありません


  .mainView
    .mainView__groupInfo
    .mainView__chatSpace
    .mainView__chatSender
