$white: #ffffff;
$ulGray: #eeeeee;
$slGray: #fafafa;
$lGray: #999999;
$blueGray: #434a54;
$lBlue: #38aef0;
$dGray: #333333;
$dBlueGray: #2f3e51;
$dBlue: #253141;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  }

.infoBar {
  width: 100%;
  color: $white;
  background-color: $lBlue;
  text-align: center;
  display: none;
}

.sideBar {
  color: $white;
  float: left;
  width: 300px;
  a {
    color: $white;
  }
}

.sideBar__header {
  background-color: $dBlue;
  height: 100px;
  display: flex;
  align-items: center;
}

.sideBar__userInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

.userInfo__userName {
  font-size: 16px;
  font-weight: bold;
}

.userInfo__menu {
  display: flex;
  li {
    margin-left: 10px;
  }
}

.sideBar__groupSelector {
  background-color: $dBlueGray;
  height: calc(100vh - 100px);
}

.groupSelector__groups {
  padding: 20px 20px 0;
}

.groupSelector__group {
  padding-bottom: 40px;
}

.groupSelector__groupName {
  font-size: 15px;
  margin-bottom: 5px;
}

.groupSelector__latestChat {
  font-size: 11px;
}

.mainView {
  width: calc(100vw - 300px);
  float: right;
}

.mainView__header {
  background-color: $white;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $ulGray;
}

.header__groupInfo {
  margin-top: 35px;
}

.groupInfo__groupName {
  font-size: 20px;
  color: $dGray;
  margin-bottom: 15px;
}

.groupInfo__members {
  font-size: 12px;
  color: $lGray;
  display: flex;
  justify-content: space-between;
  .groupInfo__member {
    margin-right: 5px;
  }
}

.header__editButton {
  color: $lBlue;
  margin-top: 28px;
  height: 40px;
  border: 1px solid $lBlue;
  border-radius: 2px;
  padding: 0 20px;
  line-height: 40px;
}

.mainView__chatSpace {
  background-color: $slGray;
  padding: 46px 40px;
}

.chatSpace__chat {
  padding-bottom: 40px;
}

.chat__firstLine {
  display: flex;
  margin-bottom: 10px;
}

.chat__userName {
  font-size: 16px;
  font-weight: bold;
  color: $blueGray;
  margin-right: 10px;
}

.chat__sendDate {
  font-size: 12px;
  color: $lGray;
}

.chat__message {
  font-size: 14px;
  color: $blueGray;
  margin-bottom: 10px;
}
